{% extends 'Main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosematics</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/ds.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Dettol Regular soap 75gm</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;"><strong>Rs.500</strong></h4>

            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/swash.png' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjali saundrya face wash</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.10</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/nswash.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjai neem saundrya face wash</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/gn1.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Godrej No.1 soap</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;"><strong>Rs.500</strong></h4>

            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/bsoap.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Boroplus antiseptic soap</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.10</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/charmis.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>ITC charmis face cream</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/margo.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Margo soap</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/perfume.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>ITC pocket perfumes</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/amla.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Dabur amla hair oil</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
            
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/dk100.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjali Dant Kanti Toothpaste</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>    
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/dka.png' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjali Dant Kanti advanced Toothpaste</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>    
        </div>
    </div>
</body>
</html>
{% endblock content %}