{% extends 'Main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Households</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/ghee.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjali Desi ghee</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;"><strong>Rs.500</strong></h4>

            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/image3.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjali Atta Noodles</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.10</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/muspuchoil.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjai 1L mustard oil</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/oats.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Saffola classic masala oats</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right;"><strong>Rs.500</strong></h4>

            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/oil.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Saffola Gold 1L edible oil</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.10</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/musoil.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjali 1L mustard oil</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/poats.png' %}"/>
            <div class="box-element product">
                <h6><strong>Patanjali classic plain oats</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/rjuice.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Dabur Real juice 200ml</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/cwater.jpg' %}"/>
            <div class="box-element product">
                <h6><strong>Dabur Real activ coconut water 200ml</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>Rs.60</strong></h4>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}